

 <!-- Home section-->
 <section id="about">
    <div class="container px-4 pt-5">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h1>Home</h1>
                <p class="lead">On this page, you may apply property binding that may include property and class binding. The main goal of this assessment is to evaluate the learning of students about the prelim perion topics. Click the toggle button to hide/unhide this paragraph text. Which means, you may also implement event in this component.</p>

             
            </div>
        </div>
    </div>
</section>